.question-card {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

.question-card h2 {
    font-size: 20px;
    text-align: center;
}

.question-card ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.question-card ul li:hover {
    cursor: pointer;
    background: #ca922a;
}

.question-card ul li span {
    color: #ca922a;
}

.card {
    border: 4px double #445a66;
    border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
    background: #242F35;
}

.logo {
    display: block;
    margin: 0 auto;
}

.question-card ul .card.correct {
    background: #51b54e;
}

.question-card ul .card.incorrect {
    background: #b54e51;
}

.question-card p {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
}

.win {
    border-bottom: 4px double #51b54e;
}

.lose {
    border-bottom: 4px double #b54e51;
}
