.chess-board {
    max-width: 600px;
    margin: 0 auto;
}

.board {
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    position: relative;
    border: 4px solid black;
}

td {
    width: 75px;
    height: 75px;
}

.letter td {
    width: auto;
    height: auto;
    padding: 5px;
    font-family: serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.number-before {
    position: absolute;
    left: -30px;
    font-family: serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
}

.number-after {
    position: absolute;
    right: -30px;
    font-family: serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
}
